{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-sm-12" syle="margin-top:50px">
        Register
        <form method="post">
            Name: <input type="text" name="username" /><p />
            Password: <input type="password" name="password" /> <p />
            email: <input type="text" name="email"/><p />
            <input type="submit" value="Register" />
        </form>
    </div>
    <div class="col-lg-6 col-sm-12">
        Login
        <form method="post">
            Name: <input type="text" name="username" />
            Password: <input type="password" name="password" />
            <input type="submit" value="Login" />
        </form>
    </div>
</div>
{% endblock %}