{% extends "template.html" %}
{% block content %}

    <div class="jumbotron container">
        <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4" >
            <a class="btn btn-danger btn-lg" role="button" href="\logout" style="float:right; margin-right:20px;">Logout</a>
        </div>
    </div>
        <h1>Landing page</h1>
        <p>Welcome to the text storage page. click <a href="\my_account">here</a>to view or edit your box</p>
    </div>

{% endblock %}
